.abouts {
  margin-top: 70px;
}

.abouts__content {
  .container;
}

.abouts__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.pros__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
