.add-to-cart {
  width: 100%;
  display: block;
  background-color: @basic-white;
}

.add-to-cart__content {
  .container;
}

.add-to-cart__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.add-to-cart__text {
  font-size: 15px;
  line-height: 30px;
  color: @black-light;
  text-align: center;
}

.add-to-cart__form-sizes {
  display: flex;
  flex-direction: column;
}

.add-to-cart__wrapper {
  .container;

  display: flex;
  justify-content: space-between;
  border: 0;

  input[type="radio"] {
    .visually-hidden;
  }
}

.add-to-cart__radio {
  display: flex;
  padding: 18px 30px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid fade(@basic-black, 10%);
}

.add-to-cart__submit-container {
  .container;

  width: 100%;
}

.add-to-cart__submit {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @marine-bright;
  border: 0 none;
  outline: 0;
  cursor: pointer;
}
