.add-to-cart {
  z-index: 100;
  position: fixed;
  top: 30%;
  display: none;
  width: 100%;
  background-color: @basic-white;
  box-shadow: 0 5px 10px @rgba-shadow,
    1px 0 1px @rgba-shadow;
}

.add-to-cart__content {
  .container();
}

.add-to-cart__title {
  .text(@fw: 700, @fs: 25px, @lh: 30px);

  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
}

.add-to-cart__text {
  .text(@fs: 15px, @lh: 30px);

  margin-top: -5px;
  color: @black-light;
  text-align: center;
}

.add-to-cart__submit-container {
  .container();

  width: 100%;
}

.add-to-cart__submit {
  .text(@fw: 700);

  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 26px;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @marine-bright;
  border: 0 none;
  outline: 0;
  cursor: pointer;
}
