.banner {
  margin-top: 30px;
}

.banner__content {
  .container;
}

.banner__title {
  .title;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  white-space: nowrap;
}

.banner__image-container {
  order: 2;
  width: 260px;
  height: 315px;
  background-color: @grey-soft;
}

.banner__text {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @basic-black;

  &--this-week {
    padding-top: 10px;
    text-transform: uppercase;
    color: @marine-bright;
  }
}
