.banner {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/icons/zigzag-line-mobile.svg");
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      bottom: -50px;
    }
  }
}

.banner__content {
  .container();

  position: relative;
  margin-top: 30px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 5% 1/2fr 1/2fr;
    grid-template-rows:
      0.5fr
      0.8fr
      0.8fr
      0.7fr
      0.5fr;
    grid-template-areas: "banner-title banner-title banner-title banner-text"
      "product-card-text . image-container image-container"
      "product-card-table . image-container image-container"
      "product-card-price . image-container image-container"
      "product-card-link . image-container image-container";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 30% 10% 1fr 1fr 1fr;
    grid-template-rows:
      150px
      0.8fr
      0.8fr
      0.5fr
      0.5fr;
    grid-template-areas: "banner-text banner-title . image-container image-container image-container"
      ". product-card-text . image-container image-container image-container"
      ". product-card-table . image-container image-container image-container"
      ". product-card-price . image-container image-container image-container"
      ". product-card-link . image-container image-container image-container";
  }
}

.banner__title {
  .text(@fw: 700, @fs: 25px, @lh: 30px);

  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    .text( @fw: 700, @fs: 43px, @lh: 50px);
    grid-area: banner-title;
  }

  @media (min-width: @desktop-width) {
    .text( @fw: 700, @fs: 53px, @lh: 57px);

    z-index: 3;
    align-self: end;
  }
}

.banner__text {
  .text(@fw: 700, @lh: 20px);

  margin: 0;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    grid-area: banner-text;
  }

  @media (min-width: @desktop-width) {
    align-self: end;
  }

  &--this-week {
    padding-top: 10px;
    text-transform: uppercase;
    color: @marine-bright;

    @media (min-width: @tablet-width) {
      text-align: center;
      margin-right: -10px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 10px;
    }
  }
}

.banner__word-wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
