.catalog__content {
  .container();

  margin-top: 30px;
}

.catalog__title {
  .text(@fw: 700, @fs: @base-font-size, @lh: 24px);
}

.catalog__list {
  .clear-list();
}

.catalog__description {
  .text(@fw, @fs: 13px, @lh: 30px);

  color: @black-light;
}

.catalog__link {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    background-color: @basic-grey;
  }
}
