.catalog__content {
  .container();

  margin-top: 30px;
}

.catalog__title {
  .text(@fw: 700, @fs: @base-font-size, @lh: 24px);
}


.catalog__text {
  .text(@fw, @fs: 13px, @lh: 30px);

  color: @black-light;
}

.catalog__list {
  .clear-list();
}

.catalog__card-wrapper {
  img {
    align-self: center;
    background-color: @basic-grey;
  }

  .catalog__text {
    .text(@fw, @fs: 13px, @lh: 30px);
  }

  display: flex;
  flex-direction: column;
}

.catalog__price-wrapper {
  .catalog__text {
    .text(@fw: 700, @fs: 15px, @lh: 24px);
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}
