.client-review {
  textarea {
    margin-bottom: 20px;
    padding-left: 17px;
    padding-top: 17px;
    width: 100%;
    height: 142px;
    font-family: inherit;
    line-height: 18px;
    box-shadow: inset -2px -2px @basic-black,
      inset 2px 2px @basic-black;
    resize: none;

    &::placeholder {
      font-size: 17px;
      line-height: 18px;
      color: fade(@basic-black, 30%);
    }
  }
}
