.client-contacts {
  border: 0;

  @media (min-width: @tablet-width) {
    .container();

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: @grey-bright;
  }
}

.client-contacts__title {
  .text(@fw: 700);

  margin-bottom: 20px;
  text-transform: uppercase;
  color: @marine-bright;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.client-contacts__phone-field-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: -1;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.client-contacts__mail-field-wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: -1;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.client-contacts__field {
  .text(@lh: 18px);
  .field();

  margin-bottom: 20px;
  padding-left: 12px;
  width: 100%;
  height: 52px;
  color: @black-light;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: @grey-bright;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.client-contacts__text {
  .text(@fw: 700, @lh: 18px);
}
