.client-review {
  border: 0;

  @media (min-width: @tablet-width) {
    .container();

    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.client-review__textarea {
  .text(@lh: 18px);

  margin-bottom: 20px;
  padding-left: 17px;
  padding-top: 17px;
  width: 100%;
  height: 142px;
  font-family: inherit;
  box-shadow: inset -2px -2px @basic-black,
    inset 2px 2px @basic-black;
  resize: none;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.client-review__title {
  .text(@fw: 700);

  margin-bottom: 20px;
  text-transform: uppercase;
  color: @marine-bright;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}
