.client-name {
  .container();

  border: 0;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
  }
}

.client-name__title {
  .text(@fw: 700);
  .section-line();

  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: @marine-bright;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 61px;
    width: 178px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.client-name__wrapper {
  padding-top: 9px;

  @media (min-width: @tablet-width) {
    width: 500px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.client-name__list {
  .clear-list();
}

.client-name__item {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
  }
}

.client-name__field {
  .text(@lh: 18px);
  .field(@fs: 17px);

  padding-top: 3px;
  margin-top: -1px;
  width: 100%;
  height: 52px;
  word-spacing: 2px;
  color: @black-light;

  @media (min-width: @tablet-width) {
    .field(@fs: 19px);

    padding-top: 0;
    padding-left: 17px;
    margin-top: 0;
  }

  &--position {
    margin-top: -2px;

    @media (min-width: @tablet-width) {
      margin-top: -3px;
    }
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

.client-name__text {
  .text(@fw: 700, @lh: 18px);

  @media (min-width: @tablet-width) {
    .text(@fw: 700, @fs: 19px, @lh: 18px);

    padding-right: 26px;
  }

  &--position {
    @media (min-width: @tablet-width) {
      margin-top: -3px;
    }
  }
}
