.client-contacts__wrapper {
  @media (min-width: @tablet-width) {
    width: 100%;
    background-color: @grey-bright;
  }
}

.client-contacts {
  .container();

  border: 0;
}

.client-contacts__title {
  .text(@fw: 700);
  .section-line(@top: 4px);

  text-transform: uppercase;
  color: @marine-bright;

  @media (min-width: @tablet-width) {
    margin-bottom: 22px;
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 61px;
  }

  &--short {
    .section-line(@width: 182px, @left: 78px, @top: 4px);
  }

  &::before {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.client-contacts__phone-field-wrapper {
  position: relative;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 49px;
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.client-contacts__mail-field-wrapper {
  position: relative;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.client-contacts__field {
  .text(@lh: 18px);
  .field(@fs: 16px);
  .field-focus();

  margin-top: 1px;
  margin-bottom: 23px;
  width: 100%;
  height: 52px;
  word-spacing: 0.1px;
  color: @black-light;

  @media (min-width: @tablet-width) {
    .field(@fs: 19px);

    padding-left: 21px;
    margin-left: 35px;
    background-color: @grey-bright;
  }

  @media (min-width: @desktop-width) {
    padding-left: 17px;
    margin-left: -2px;
    width: 700px;
  }

  .field-focus + .client-contacts__icon-image {
    path {
      fill: @marine-salad;
      opacity: 1;
    }

    g {
      opacity: 1;
    }
  }
}

.client-contacts__text {
  .text(@fw: 700, @lh: 18px);
}

.client-contacts__icon-image {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 6px;
  width: 25px;
  height: 24px;

  @media (min-width: @tablet-width) {
    top: 12px;
    right: 26px;
  }

  @media (min-width: @desktop-width) {
    top: 12px;
    right: 184px;
  }

  &--mail {
    top: 36px;
    right: 3px;
    width: 32px;
    height: 21px;

    @media (min-width: @tablet-width) {
      top: 17px;
      right: 22px;
    }

    @media (min-width: @desktop-width) {
      right: 179px;
    }
  }

  path {
    fill: @basic-black;
  }
}
