.contact-info__content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    .container();

    margin-top: 160px;
    margin-bottom: 80px;
    height: 457px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

    grid-template-areas: " . title title map map map"
      " . table table map map map"
      " . table table map map map"
      ". link link map map map";
  }
}

.contact-info__wrapper {
  .container();

  width: @min-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    display: contents;
  }
}

.contact-info__title {
  .text(@fw: 700, @fs: 25px, @lh: 30px);

  position: relative;
  padding-top: 50px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    .text(@fw: 700, @fs: 43px, @lh: 50px);
  }

  @media (min-width: @desktop-width) {
    .text(@fw: 700, @fs: 53px, @lh: 57px);

    margin-top: 0;
    margin-bottom: 0;
    grid-area: title;
  }

  &::before {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      top: 10px;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url("/img/icons/flag.svg");
    }

    @media (min-width: @desktop-width) {
      top: 20px;
      left: -95px;
    }
  }
}

.contact-info__table {
  .text(@fs: 14px, @lh: 30px);

  display: block;

  @media (min-width: @tablet-width) {
    .text(@fs: 17px, @lh: 30px);

    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-area: table;
    align-self: center;
  }
}

.contact-info__row {
  display: flex;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    padding-right: 40px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }
}

.contact-info__cell {
  width: 100%;

  &--heading {
    width: 100px;
  }
}

.contact-info__mail {
  padding-bottom: 2px;
  border-bottom: 1px solid @marine-salad;

  &:hover {
    color: @marine-dark;
  }

  &:active {
    color: @marine-dark;
    border-bottom: 1px solid fade(@marine-salad, 10%);
  }
}

.contact-info__link-wrapper {
  .container();

  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
    justify-content: start;
    align-items: flex-end;
    grid-area: link;
  }
}

.contact-info__link {
  .button();
  .text(@fw: 700, @fs: 18px, @lh: 20px);

  display: block;
  padding: 16px 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 40%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    width: 70%;
  }

  &:hover {
    .link-hover();
  }

  &:active {
    .link-active();
  }
}

.contact-info__map-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @grey-soft;
  display: flex;
  justify-content: center;

  @media (min-width: @desktop-width) {
    margin: 0;
    height: 457px;
    grid-area: map;
  }

  &::before {
    position: absolute;
    z-index: 10;
    content: "";
    top: 40%;
    left: 40%;
    width: 67px;
    height: 100px;
    background-image: url("../img/map-pin.png");

    @media (min-width: @tablet-width) {
      top: 40%;
      left: 40%;
    }

    @media (min-width: @desktop-width) {
      top: 40%;
      left: 40%;
    }
  }
}

.contact-info__image {
  display: block;
  object-fit: contain;
}

.contact-info__address {
  width: 180px;
  font-style: inherit;

  @media (min-width: @tablet-width) {
    width: 220px;
  }
}
