.contact-info {
  margin-top: 80px;
  margin-bottom: 40px;
}

.contact-info__content {
  display: flex;
  flex-direction: column;

  table,
  tr,
  th {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
  }

  th {
    width: 30%;
    height: 80px;
  }
}

.contact-info__wrapper {

  .container;
}

.contact-info__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.contact-info__link-wrapper {
  display: flex;
  width: 100%;
  .container;
}

.contact-info__link {
  width: 100%;
  padding: 16px 0;

  .button;
}

.contact-info__map-container {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: @grey-soft;

  img {
    display: block;
  }
}
