.copyrights__wrapper {
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    width: 182px;
    padding-top: 0;
    margin-top: -2px;
  }
}

.copyrights__academy-logo {
  width: 27px;
  height: 34px;
  fill: @marine-bright;

  @media (min-width: @tablet-width) {
    margin-top: -3px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -3px;
    margin-right: 1px;
  }

  &:hover {
    fill: @marine-dark;
  }

  &:active {
    fill: @marine-dark;
    opacity: 0.3;
  }
}

.copyrights__link {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    justify-content: space-between;
  }
}

.copyrights__text {
  .text(@fw: 700, @fs: 19px, @lh: 18px);

  margin-right: 27px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    padding-bottom: 6px;
  }
}
