.footer-copyrights {
  margin-top: 29px;
  margin-bottom: 31px;
}

.footer-copyrights__link {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}

.footer-copyrights__text {
  margin-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
