.form__intro {
  .container();
  .text(@fw: 400, @fs: 13px, @lh: 24px);

  margin-top: 17px;
  margin-bottom: 37px;
}

.form__content {
  .container();

  fieldset {
    flex-direction: column;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.form__title {
  .text(@fw: 700, @fs: 17px, @lh: @base-font-size);

  margin-bottom: 20px;
  text-transform: uppercase;

  &--colored {
    .colorize-title(@marine-bright);
  }
}

.form__text {
  .text(@fw: 700, @fs: @base-font-size, @lh: 18px);
}

.form__field {
  margin-bottom: 20px;
  width: 100%;
  height: 52px;
  border: 0;
  box-shadow: inset 0 -2px 0 @basic-black;

  &::placeholder {
    .text(@fw, @fs: @base-font-size, @lh: 18px);

    color: fade(@basic-black, 30%);
  }
}

.form__note {
  .text(@fw, @fs: 14px, @lh: @base-line-height);

  margin-bottom: 30px;
  text-align: center;
}

.form__submit {
  .button();
  .text(@fw, @fs: 17px, @lh: @base-line-height);

  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 55px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}
