.inner-promo {
  .container;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @grey-bright;
}

.inner-promo__title {
  .title;

  padding-top: 40px;
  height: 120px;
}
