.inner-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @grey-bright;

  .container;
}

.inner-promo__title {
  display: flex;
  margin-top: 73px;
  margin-bottom: 73px;

  .title;
}
