.inner-promo {
  .container;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @grey-bright;
}

.inner-promo__title {
  .text(@fw: 700, @fs: 27px, @lh: 30px);

  padding-top: 40px;
  height: 120px;
}
