.lot {
  border: 1px solid @grey-soft;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.lot__content {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 3;
    grid-column-end: -1;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding-left: 26px;
    min-height: 197px;
  }

  &:hover {
    box-shadow: 0px 6px 10px @rgba-black-light;
  }

  &:active {
    box-shadow: 0px 3px 5px @rgba-black-light;
  }
}

.lot__content-top {
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: start;
  }
}

.lot__title {
  .text(@fw: 700, @lh: 24px);

  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    .text(@fw: 700, @fs: 20px, @lh: 24px);
  }

  &:hover {
    color: @rgba-black-hover;
  }

  &:active {
    color: @rgba-black-active;
  }
}

.lot__image-wrapper {
  width: 259px;
  height: 195px;
  display: flex;
  flex-direction: column;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 334px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    height: 462px;
  }
}

.lot__image {
  object-fit: contain;
}

.lot__descriptions {
  .text(@fs: 13px, @lh: 30px);

  margin: 0;

  @media (min-width: @tablet-width) {
    .text(@fs: 15px, @lh: 30px);

    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}

.lot__price-wrapper {
  padding-bottom: 4px;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @basic-grey;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    align-self: end;
  }
}

.lot__price {
  .text(@fw: 700, @fs: 15px, @lh: 24px);

  margin-left: 1px;

  @media (min-width: @tablet-width) {
    .text(@fw: 700, @fs: 17px, @lh: 24px);
  }
}

.lot__link {
  &:hover .lot__icon {
    path {
      fill: @marine-bright;
      opacity: 1;
    }
  }

  &:active .lot__icon {
    path {
      fill: @marine-bright;
      opacity: 0.3;
    }
  }
}

.lot__icon {
  path {
    fill: @basic-black;
  }
}
