.lot {
  border: 1px solid @grey-soft;

  @media (min-width: @tablet-width) {
    border: 0;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 314px;
    flex-direction: column;
  }
}

.lot__content {
  padding-left: 28px;
  padding-right: 28px;
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    width: 335px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 26px;
    height: 197px;
  }
}

.lot__content-top {
  margin-bottom: 2px;
}

.lot__title {
  .text(@fw: 700, @lh: 24px);

  display: block;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  &:hover {
    color: @rgba-black-hover;
  }

  &:active {
    color: @rgba-black-active;
  }
}

.lot__image-wrapper {
  width: 259px;
  height: 195px;
  display: flex;
  flex-direction: column;
  background-color: @basic-grey;

  @media (min-width: 321px) {
    width: 100%;
    height: max-content;
  }

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 314px;
    height: 462px;
  }
}

.lot__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lot__descriptions {
  .text(@fs: 13px, @lh: 16px);

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.lot__price-wrapper {
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @basic-grey;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 73px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 256px;
    margin-top: 0;
  }
}

.lot__price {
  .text(@fw: 700, @fs: 15px, @lh: 24px);

  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 2px;
    padding-left: 2px;
    font-size: 17px;
  }
}

.lot__link {
  margin-top: -5px;
  margin-right: -3px;

  @media (min-width: @tablet-width) {
    margin-top: -10px;
    margin-right: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-right: 0;
  }
}

.lot__icon {
  fill: @basic-black;
  opacity: 0.2;

  &:hover {
    fill: @marine-bright;
    opacity: 1;
  }

  &:active {
    fill: @marine-bright;
    opacity: 0.3;
  }
}
