.main-nav {
  order: 1;
  width: 100%;

  li:first-child {
    border-top: 1px solid @grey-soft;
  }
}

.main-nav__link {
  .text(@fw: 700, @fs, @lh: 24px);

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
