.main-nav {
  order: 1;

  @media (min-width: @tablet-width) {
    z-index: 2;
    grid-area: main-menu;
  }
}

.main-nav__list {
  .clear-list();

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  display: flex;
  border-bottom: 1px solid @grey-soft;

  @media (min-width: @tablet-width) {
    border-bottom: 0;
  }

  &--catalog {
    border-top: 1px solid @grey-soft;

    @media (min-width: @desktop-width) {
      border-right: 1px solid @grey-soft;
    }
  }
}

.main-nav__link {
  .container();

  display: block;
  padding-left: 56px;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    .text(@fw: 700, @fs: 15px, @lh: 24px);
    .reset-container();

    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    font-size: 17px;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      padding-right: 40px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 32px;
      padding-bottom: 30px;
      padding-right: 0;
    }
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding-top: 22px;
      margin-left: -3px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 33px;
      margin-left: 35px;
    }
  }

  &:hover {
    color: @rgba-black-hover;
  }

  &:active {
    color: @rgba-black-active;
  }
}
