.optional-nav {
  display: none;
  order: 3;

  @media (min-width: @tablet-width) {
    display: block;
    grid-area: optional-menu;
  }
}

.optional-nav__list {
  .clear-list();

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.optional-nav__item {
  &--hide {
    @media (min-width: @tablet-width) {
      font-size: 0;
    }
  }

  &--free-delivery {
    @media (min-width: @tablet-width) {
      .text(@fs: 15px; @lh: 24px);

      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}

.optional-nav__link {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    .text(@fw: 700, @fs: 15px, @lh: 24px);

    padding-top: 10px;
  }

  &--sellout-goods {
    @media (min-width: @desktop-width) {
      padding-left: 45px;
    }
  }
}
