.page-nav {
  .text(@fw: 700, @lh: 24px);

  display: flex;
  flex-direction: column;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.page-nav__button {
  &--hide {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
