.page-footer__content {
  background-color: @grey-bright;

  @media (min-width: @tablet-width) {
    .container();

    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "footer-logo social-list social-list academy-logo";
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "footer-logo . social-list social-list academy-logo academy-logo";
  }
}

.page-footer__logo-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    grid-area: footer-logo;
  }
}

.page-footer__logo {
  @media (min-width: @tablet-width) {
    grid-area: footer-logo;
  }
}

.page-footer__socials-wrapper {
  .container();

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.page-footer__list {
  .clear-list();

  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid @basic-grey;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    border: 0;
    grid-area: social-list;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
  }
}

.page-footer__item {
  @media (min-width: @tablet-width) {
    padding-right: 20px;
  }

  &--insta {
    padding-left: 60px;
  }

  &--twitter {
    padding-right: 60px;
  }
}

.page-footer__text {
  .text(@fw: 700, @fs: 19px, @lh: 18px);

  margin-right: 27px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.page-footer__link {
  padding: 0 10px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  &--align-logo {
    @media (min-width: @tablet-width) {
      padding-left: 0;
    }
  }
}

.page-footer__copyrights-wrapper {
  margin-top: 29px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    grid-area: academy-logo;
    justify-self: end;
  }
}

.page-footer__footer-logo {
  width: 27px;
  height: 34px;

  @media (min-width: @tablet-width) {
    margin-right: -5px;
  }
}
