.page-footer__content {
  background-color: @grey-bright;
}

.page-footer__footer-logo {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container;
}

.footer-socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid @basic-grey;

  li {
    padding: 0;
  }
}

.footer-socials__link {
  padding: 0 20px;
}

.footer-copyrights {
  margin-top: 29px;
  margin-bottom: 31px;
}

.footer-copyrights__link {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}

.footer-copyrights__text {
  margin-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
