.page-header {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @rgba-black-light;
  }
}

.page-header__wrapper {
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    .container();

    height: 88px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 88px auto;
    grid-template-areas: "header-logo . user-menu user-menu"
      "main-menu main-menu optional-menu optional-menu";
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "main-menu main-menu header-logo header-logo user-menu user-menu"
      "optional-menu optional-menu optional-menu optional-menu optional-menu optional-menu";
  }
}

.page-header__logo-wrapper {
  .container();

  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    .reset-container();

    padding-top: 2px;
    justify-content: flex-start;
    grid-area: header-logo;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-header__logo-image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__link {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}
