.product-card {
  display: flex;
  flex-direction: column;
  color: @black-light;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.product-card__text {
  .text(@fs: 15px, @lh: 24px);

  padding-bottom: 0;
  margin-bottom: 0;
  display: block;
  color: inherit;

  @media (min-width: @tablet-width) {
    grid-area: product-card-text;
  }
}

.product-card__table {
  .text(@fs: 15px, @lh: 20px);

  margin-top: 20px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    grid-area: product-card-table;
  }
}

.product-card__row {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @grey-soft;
}

.product-card__cell {
  &:first-child {
    width: 80px;
    padding-right: 10px;
  }
}

.product-card__price {
  .text(@fw: 700);

  order: 3;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-area: product-card-price;
  }
}

.product-card__link {
  .text(@fw: 700, @fs: 18px, @lh: 20px);

  order: 4;
  width: 100%;
  padding: 16px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  border: 2px solid @black-light;

  @media (min-width: @tablet-width) {
    grid-area: product-card-link;
  }
}
