.promo__content {
  .container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: @grey-soft;
  background-image: url("../../img/promo-mobile.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  .title;

  margin-top: 73px;
  margin-bottom: 130px;
  text-align: center;
}

.promo__list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  li {
    display: flex;
    padding: 0;
  }
}

.promo__link {
  .container;

  display: block;
  width: 100%;
  background-color: @marine-bright;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @basic-white;
  text-align: left;

  &--position {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &--darkened {
    background-color: @basic-marine;
  }
}
