.promo {
  @media (min-width: @tablet-width) {
    .container();

    background-color: @grey-promo;
  }
}

.promo__content {
  .container();

  height: 100%;
  background-color: @grey-soft;
  background-image: url("../../img/promo-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: @basic-grey;
  }
}

.promo__title {
  .text(@fw: 700, @fs: 27px, @lh: 30px);

  height: 280px;
  margin: 0;
  padding-top: 80px;
  text-align: center;
}

.promo__list {
  .clear-list();

  width: 100%;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.promo__link {
  .container();
  .text(@fw: 700, @fs: 19px, @lh: 24px);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: @marine-bright;
  color: @basic-white;
  text-align: left;

  @media (min-width: @tablet-width) {
    min-width: 0;
    padding-left: 20px;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 40px;
  }

  &--darkened {
    background-color: @basic-marine;
  }
}

.promo__item {
  display: flex;
  flex-grow: 1;
}
