.slider {
  margin-top: 50px;
}

.slider__content {
  .container;

  display: flex;
  flex-direction: column;
}

.slider__title {
  .text(@fw: 700, @fs: 25px, @lh: 30px);
}

.slider__comment,
.slider__text {
  .text(@fw: 400, @fs: 15px, @lh: 30px);

  color: @black-light;
}

.slider__author {
  .text(@fw: 700, @fs: @base-font-size, @lh: 24px);

  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
}

.slider__nickname {
  .text(@fw: 400, @fs: @base-font-size, @lh: 30px);
}

.slider__link {
  .button;
  .text(@fw: 400, @fs: 25px, @lh: 30px);

  padding: 16px 0;
  margin-top: 40px;
}
