.slider {
  position: relative;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 82px;
    background-image: url("../img/slider-background.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    margin-top: 87px;
    background-image: unset;
    background-repeat: unset;
    background-size: unset;
  }

  &::before {
    z-index: 100;
    position: absolute;
    content: "";
    bottom: -51px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/icons/zigzag-line-slider-mobile.svg");
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      bottom: -85px;
      height: 17px;
      background-image: url("../img/icons/zigzag-line-slider-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.slider__content {
  .container();

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    height: 457px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    background-image: url("../img/slider-background.png");
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  &::before {
    @media (min-width: @desktop-width) {
      z-index: 100;
      position: absolute;
      content: "";
      bottom: -93px;
      width: 1050px;
      height: 23px;
      background-image: url("../img/icons/zigzag-line-slider-desktop.svg");
      background-repeat: repeat-x;
    }
  }
}

.slider__comment {
  margin-top: 10px;

  @media (min-width: @tablet-width) {
    display: contents;
  }
}

.slider__comment-wrapper {
  .text(@fs: 15px, @lh: 30px);

  color: @black-light;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    margin-top: -15px;
    width: 810px;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}

.slider__title {
  .text(@fw: 700, @fs: 25px, @lh: 30px);

  margin-top: 18px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: end;
    font-size: 53px;
    line-height: 57px;
  }
}

.slider__author {
  .text(@fw: 700, @lh: 24px);

  display: block;
  margin-top: 32px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: start;
    font-size: 17px;
  }
}

.slider__nickname {
  .text(@lh: 30px);

  display: block;
  margin-top: 3px;
}

.slider__button-wrapper {
  display: flex;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 5px;
    grid-column-start: 6;
    align-self: start;
  }
}

.slider__button {
  width: 50%;
  height: 52px;
  border: 1px solid @grey-soft;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    border: 0;
  }

  &--right {
    transform: rotate(180deg);
  }
}

.slider__image {
  &--left {
    margin-top: 2px;
    margin-left: -5px;

    @media (min-width: @tablet-width) {
      margin-top: 4px;
      margin-left: 0;
    }
  }

  &--right {
    margin-top: 2px;
    margin-left: 4px;

    @media (min-width: @tablet-width) {
      margin-left: 0;
    }
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.slider__link {
  .text(@fw: 700, @fs: 18px, @lh: 20px);
  .link();

  padding: 14px 0;
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 20px;
    width: 175px;
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: end;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 18px;
    grid-column-start: 6;
  }
}
