.slider {
  margin-top: 50px;
}

.slider__content {
  .container;

  display: flex;
  flex-direction: column;
}

.slider__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.slider__comment,
.slider__text {
  font-size: 15px;
  line-height: 30px;
  color: @black-light;
}

.slider__author {
  display: block;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.slider__nickname {
  font-size: 17px;
  line-height: 30px;
}

.slider-buttons {
  display: flex;
  width: 100%;
}

.slider-buttons__slide {
  .hide-text;

  display: flex;
  width: 50%;
  height: 52px;
  border: 1px solid @grey-soft;
  background-color: transparent;
  background-image: url("../../img/icons/slide-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--right {
    transform: rotate(180deg);
  }
}

.slider__link {
  .button;

  padding: 16px 0;
  margin-top: 40px;
}
