.user-nav {
  order: 2;

  @media (min-width: @tablet-width) {
    grid-area: user-menu;
  }
}

.user-nav__list {
  .clear-list();

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 83px auto;
  }
}

.user-nav__item {
  border-bottom: 1px solid @grey-soft;

  @media (min-width: @tablet-width) {
    border-bottom: 0;
  }

  &--hide {
    @media (min-width: @tablet-width) {
      font-size: 0;
    }
  }

  &--search {
    @media (min-width: @tablet-width) {
      border-left: 1px solid @grey-soft;
      border-right: 1px solid @grey-soft;
    }
  }

  &:not:first-child {
    border-top: 1px solid @grey-soft;

    @media (min-width: @tablet-width) {
      border-top: 0;
    }
  }
}

.user-nav__link {
  .container();

  position: relative;
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: @tablet-width) {
    .reset-container();

    padding-top: 32px;
    padding-bottom: 32px;
  }

  &--search {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--cart {
    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: -1;
      text-align: right;
    }
  }
}

.user-nav__link:hover {
  color: fade(@basic-black, 60%);

  .user-nav__icon-image {
    path {
      fill: @marine-bright;
      opacity: 1;
    }
  }
}

.user-nav__link:active {
  color: fade(@basic-black, 30%);

  .user-nav__icon-image {
    path {
      fill: @marine-bright;
      opacity: 0.3;
    }
  }
}

.user-nav__icon-image {
  position: absolute;
  left: 30px;

  path {
    fill: fade(@basic-black, 100%);
  }

  &--search {
    @media (min-width: @tablet-width) {
      position: static;
      margin-top: 2px;
      margin-left: 30px;
    }
  }

  &--cart {
    @media (min-width: @tablet-width) {
      position: static;
      margin-right: 15px;
    }
  }
}
