.video__content {
  .container;

  margin-bottom: 90px;
}

.video__title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.video__player {
  margin-bottom: 55px;
  width: 100%;
  height: 150px;
  background-color: @basic-grey;
}

.video__description {
  margin-bottom: 44px;
  font-size: 13px;
  line-height: 24px;
}

.video__link {
  .button;

  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
}
