.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 30px;
}

.hide-text {
  font-size: 0;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @black-light;
  border: 2px solid @black-light;
  text-align: center;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}
