@basic-black: #000000;
@black-almost: #231f20;
@black-light: #444444;
@basic-grey: #e5e5e5;
@grey-promo: #f9f9f9;
@grey-soft: #ececec;
@grey-bright: #f1f1f1;
@basic-white: #ffffff;
@marine-salad: #62d1ba;
@marine-bright: #63d1bb;
@marine-dark: #46c1ae;
@marine-hover: #149080;
@marine-sunny: #59d5bc;
@basic-marine: #56c3b2;
@red-contrast: #ff0000;
@black-shadow: #C6C6C6;
@rgba-shadow:rgba(0, 1, 1, 0.25);
@rgba-black-light: rgba(0, 0, 0, 0.1);
@rgba-black-hover: rgba(0, 0, 0, 0.6);
@rgba-black-active: rgba(0, 0, 0, 0.3);
@rgba-pure-black-light: rgba(68, 68, 68, 1);
@rgba-black-light-hover: rgba(68, 68, 68, 0.3);
@rgba-black-light-active: rgba(68, 68, 68, 0.1);
@rgba-white-active: rgba(255, 255, 255, 0.3);
@rgba-marine-salad: rgba(70, 193, 174, 0.1);

@min-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;

@font-family: "Open Sans", "Arial", sans-serif;
